# **Airline Customer Satisfaction Capstone**

## Pre-Processing & Training

Now that we have completed the first two sections of this project (the Data Wrangling and Exploratory Data Analysis), it is time to move on to pre-processing and training our data so that it can be used in upcoming models.

## 1. Table of Contents

## 2. Import Packages

In [41]:
import pandas as pd
import numpy as np
import os
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import __version__ as sklearn_version
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression
import datetime
from sklearn.linear_model import LogisticRegression

## 3. Load Data

In [42]:
airline_data_cleaned2=pd.read_csv('/Users/lauren/Desktop/airline_data_cleaned2.csv')

# 4. Explore the Data

In [3]:
airline_data_cleaned2.head()

,Unnamed: 0,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,0,1,Male,48,First-time,Business,Business,821,2,5.0,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,1,2,Female,35,Returning,Business,Business,821,26,39.0,...,5,4,5,5,3,5,2,5,5,Satisfied
2,2,3,Male,41,Returning,Business,Business,853,0,0.0,...,3,5,3,5,5,3,4,3,3,Satisfied
3,3,4,Male,50,Returning,Business,Business,1905,0,0.0,...,5,5,5,4,4,5,2,5,5,Satisfied
4,4,5,Female,49,Returning,Business,Business,3470,0,1.0,...,3,4,4,5,4,3,3,3,3,Satisfied

In [4]:
airline_data_cleaned2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 25 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Unnamed: 0                              129880 non-null  int64
 1   ID                                      129880 non-null  int64
 2   Gender                                  129880 non-null  object
 3   Age                                     129880 non-null  int64
 4   Customer Type                           129880 non-null  object
 5   Type of Travel                          129880 non-null  object
 6   Class                                   129880 non-null  object
 7   Flight Distance                         129880 non-null  int64
 8   Departure Delay                         129880 non-null  int64
 9   Arrival Delay                           129487 non-null  float64
 10  Departure and Arrival Time Convenience  129880 non-null  int64
 11  Ease of Online Booking                  129880 non-null  int64
 12  Check-in Service                        129880 non-null  int64
 13  Online Boarding                         129880 non-null  int64
 14  Gate Location                           129880 non-null  int64
 15  On-board Service                        129880 non-null  int64
 16  Seat Comfort                            129880 non-null  int64
 17  Leg Room Service                        129880 non-null  int64
 18  Cleanliness                             129880 non-null  int64
 19  Food and Drink                          129880 non-null  int64
 20  In-flight Service                       129880 non-null  int64
 21  In-flight Wifi Service                  129880 non-null  int64
 22  In-flight Entertainment                 129880 non-null  int64
 23  Baggage Handling                        129880 non-null  int64
 24  Satisfaction                            129880 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 24.8+ MB

# 5. Dummy Variables

To use categorical variables in a machine learning model, we first need to represent them in a quantitative way.  In order to do that, we use dummy variables.

There are four categorical columns in our data: Gender, Customer Type, Type of Travel, Class, and Satisfaction.  Each of these columns will need to be converted to a dummy variable.

In [28]:
airline_data_encoded = pd.get_dummies(airline_data_cleaned2, columns=['Gender', 'Customer Type', 'Type of Travel', 'Class', 'Satisfaction'])

In [30]:
print(airline_data_encoded.columns)

Index(['Unnamed: 0', 'ID', 'Age', 'Flight Distance', 'Departure Delay',
       'Arrival Delay', 'Departure and Arrival Time Convenience',
       'Ease of Online Booking', 'Check-in Service', 'Online Boarding',
       'Gate Location', 'On-board Service', 'Seat Comfort', 'Leg Room Service',
       'Cleanliness', 'Food and Drink', 'In-flight Service',
       'In-flight Wifi Service', 'In-flight Entertainment', 'Baggage Handling',
       'Gender_Female', 'Gender_Male', 'Customer Type_First-time',
       'Customer Type_Returning', 'Type of Travel_Business',
       'Type of Travel_Personal', 'Class_Business', 'Class_Economy',
       'Class_Economy Plus', 'Satisfaction_Neutral or Dissatisfied',
       'Satisfaction_Satisfied'],
      dtype='object')

In [31]:
airline_data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 31 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Unnamed: 0                              129880 non-null  int64
 1   ID                                      129880 non-null  int64
 2   Age                                     129880 non-null  int64
 3   Flight Distance                         129880 non-null  int64
 4   Departure Delay                         129880 non-null  int64
 5   Arrival Delay                           129487 non-null  float64
 6   Departure and Arrival Time Convenience  129880 non-null  int64
 7   Ease of Online Booking                  129880 non-null  int64
 8   Check-in Service                        129880 non-null  int64
 9   Online Boarding                         129880 non-null  int64
 10  Gate Location                           129880 non-null  int64
 11  On-board Service                        129880 non-null  int64
 12  Seat Comfort                            129880 non-null  int64
 13  Leg Room Service                        129880 non-null  int64
 14  Cleanliness                             129880 non-null  int64
 15  Food and Drink                          129880 non-null  int64
 16  In-flight Service                       129880 non-null  int64
 17  In-flight Wifi Service                  129880 non-null  int64
 18  In-flight Entertainment                 129880 non-null  int64
 19  Baggage Handling                        129880 non-null  int64
 20  Gender_Female                           129880 non-null  uint8
 21  Gender_Male                             129880 non-null  uint8
 22  Customer Type_First-time                129880 non-null  uint8
 23  Customer Type_Returning                 129880 non-null  uint8
 24  Type of Travel_Business                 129880 non-null  uint8
 25  Type of Travel_Personal                 129880 non-null  uint8
 26  Class_Business                          129880 non-null  uint8
 27  Class_Economy                           129880 non-null  uint8
 28  Class_Economy Plus                      129880 non-null  uint8
 29  Satisfaction_Neutral or Dissatisfied    129880 non-null  uint8
 30  Satisfaction_Satisfied                  129880 non-null  uint8
dtypes: float64(1), int64(19), uint8(11)
memory usage: 21.2 MB

In [32]:
airline_data_encoded.head()

,Unnamed: 0,ID,Age,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,Check-in Service,Online Boarding,...,Gender_Male,Customer Type_First-time,Customer Type_Returning,Type of Travel_Business,Type of Travel_Personal,Class_Business,Class_Economy,Class_Economy Plus,Satisfaction_Neutral or Dissatisfied,Satisfaction_Satisfied
0,0,1,48,821,2,5.0,3,3,4,3,...,1,1,0,1,0,1,0,0,1,0
1,1,2,35,821,26,39.0,2,2,3,5,...,0,0,1,1,0,1,0,0,0,1
2,2,3,41,853,0,0.0,4,4,4,5,...,1,0,1,1,0,1,0,0,0,1
3,3,4,50,1905,0,0.0,2,2,3,4,...,1,0,1,1,0,1,0,0,0,1
4,4,5,49,3470,0,1.0,3,3,3,5,...,0,0,1,1,0,1,0,0,0,1

We can see with the above that by converting to dummy variables the four columns were converted! So now we can move on to the next step, as the machine will be able to understand the numbers much better than the strings.

# 6. Train/Test Split

We need to split the data into a training set and a testing set.

First, let's determine the partition sizes for a 70/30 train/test split:

In [33]:
len(airline_data_encoded) * .7, len(airline_data_encoded) * .3

(90916.0, 38964.0)

In [34]:
X_train, X_test, y_train, y_test = train_test_split(airline_data_encoded.drop(columns = ['Satisfaction_Neutral or Dissatisfied', 'Satisfaction_Satisfied', 'ID']),
                                                    airline_data_encoded.Satisfaction_Satisfied,
                                                    test_size = 0.3,
                                                    random_state = 47)

In [35]:
X_train.shape, X_test.shape

((90916, 28), (38964, 28))

In [36]:
y_train.shape, y_test.shape

((90916,), (38964,))

In [37]:
print("\n")
print("X_train:", X_train, type(X_train), X_train.shape, len(X_train)) #TrainX

# AJS:
print("\n")
print("X_test", X_test, type(X_test), X_test.shape, len(X_test)) #TestX

# AJS:
print("\n")
print("y_train", y_train, type(y_train), y_train.shape, len(y_train)) #Trainy

# AJS:
print("\n")
print("y_test", y_test, type(y_test), y_test.shape, len(y_test)) #Testy

X_train:         Unnamed: 0  Age  Flight Distance  Departure Delay  Arrival Delay  \
13253        13253   32             3567                0            0.0
31443        31443   15             1541               33           32.0
75968        75968   33              297                8           44.0
7298          7298   54              139                0            0.0
101540      101540   69              345                0            0.0
...            ...  ...              ...              ...            ...
23112        23112   49             2976                1           37.0
11528        11528   68              191                4            0.0
112967      112967   34             1129               45           62.0
51078        51078   28              308                8            4.0
103559      103559   70              738                0            0.0

        Departure and Arrival Time Convenience  Ease of Online Booking  \
13253                                        1                       1
31443                                        5                       2
75968                                        4                       2
7298                                         5                       5
101540                                       3                       1
...                                        ...                     ...
23112                                        3                       3
11528                                        5                       2
112967                                       1                       1
51078                                        5                       4
103559                                       4                       3

        Check-in Service  Online Boarding  Gate Location  ...  \
13253                  4                1              1  ...
31443                  4                2              3  ...
75968                  3                2              4  ...
7298                   4                4              1  ...
101540                 4                4              4  ...
...                  ...              ...            ...  ...
23112                  4                4              3  ...
11528                  3                4              4  ...
112967                 5                5              1  ...
51078                  5                4              5  ...
103559                 4                5              2  ...

        Baggage Handling  Gender_Female  Gender_Male  \
13253                  3              1            0
31443                  3              0            1
75968                  3              0            1
7298                   5              1            0
101540                 4              1            0
...                  ...            ...          ...
23112                  4              1            0
11528                  5              1            0
112967                 4              1            0
51078                  4              1            0
103559                 2              1            0

        Customer Type_First-time  Customer Type_Returning  \
13253                          0                        1
31443                          0                        1
75968                          0                        1
7298                           1                        0
101540                         0                        1
...                          ...                      ...
23112                          0                        1
11528                          0                        1
112967                         0                        1
51078                          0                        1
103559                         0                        1

        Type of Travel_Business  Type of Travel_Personal  Class_Business  \
13253                         1                        0               1
31443                         0                        1               0
75968                         1                        0               0
7298                          1                        0               1
101540                        0                        1               0
...                         ...                      ...             ...
23112                         1                        0               1
11528                         0                        1               0
112967                        1                        0               1
51078                         0                        1               0
103559                        0                        1               0

        Class_Economy  Class_Economy Plus
13253               0                   0
31443               1                   0
75968               1                   0
7298                0                   0
101540              1                   0
...               ...                 ...
23112               0                   0
11528               0                   1
112967              0                   0
51078               1                   0
103559              1                   0

[90916 rows x 28 columns] <class 'pandas.core.frame.DataFrame'> (90916, 28) 90916


X_test         Unnamed: 0  Age  Flight Distance  Departure Delay  Arrival Delay  \
33609        33609   18              399                0            0.0
29723        29723   23             2797                0            0.0
32271        32271   38              163                0            0.0
55747        55747   39             1737                0            0.0
16847        16847   28             3449                0            0.0
...            ...  ...              ...              ...            ...
102099      102099   42              258                0            0.0
128193      128193    9             1849                0            7.0
28204        28204   22              933                0            0.0
107752      107752   30              405               23           28.0
86582        86582   15             1269                0           11.0

        Departure and Arrival Time Convenience  Ease of Online Booking  \
33609                                        1                       2
29723                                        3                       2
32271                                        3                       3
55747                                        2                       2
16847                                        1                       1
...                                        ...                     ...
102099                                       5                       5
128193                                       1                       3
28204                                        5                       3
107752                                       5                       2
86582                                        3                       3

        Check-in Service  Online Boarding  Gate Location  ...  \
33609                  1                2              4  ...
29723                  3                3              3  ...
32271                  1                4              3  ...
55747                  4                3              2  ...
16847                  3                5              1  ...
...                  ...              ...            ...  ...
102099                 5                4              5  ...
128193                 2                3              2  ...
28204                  5                3              4  ...
107752                 5                2              4  ...
86582                  2                3              4  ...

        Baggage Handling  Gender_Female  Gender_Male  \
33609                  4              1            0
29723                  3              1            0
32271                  2              0            1
55747                  4              0            1
16847                  4              1            0
...                  ...            ...          ...
102099                 4              1            0
128193                 3              1            0
28204                  5              0            1
107752                 4              1            0
86582                  3              0            1

        Customer Type_First-time  Customer Type_Returning  \
33609                          1                        0
29723                          0                        1
32271                          0                        1
55747                          0                        1
16847                          0                        1
...                          ...                      ...
102099                         0                        1
128193                         0                        1
28204                          0                        1
107752                         0                        1
86582                          1                        0

        Type of Travel_Business  Type of Travel_Personal  Class_Business  \
33609                         1                        0               0
29723                         0                        1               0
32271                         1                        0               0
55747                         1                        0               1
16847                         1                        0               1
...                         ...                      ...             ...
102099                        1                        0               1
128193                        0                        1               0
28204                         0                        1               0
107752                        0                        1               0
86582                         1                        0               0

        Class_Economy  Class_Economy Plus
33609               1                   0
29723               1                   0
32271               1                   0
55747               0                   0
16847               0                   0
...               ...                 ...
102099              0                   0
128193              0                   1
28204               1                   0
107752              1                   0
86582               1                   0

[38964 rows x 28 columns] <class 'pandas.core.frame.DataFrame'> (38964, 28) 38964


y_train 13253     0
31443     0
75968     0
7298      1
101540    0
         ..
23112     1
11528     0
112967    1
51078     0
103559    0
Name: Satisfaction_Satisfied, Length: 90916, dtype: uint8 <class 'pandas.core.series.Series'> (90916,) 90916


y_test 33609     0
29723     0
32271     1
55747     1
16847     1
         ..
102099    1
128193    0
28204     0
107752    0
86582     0
Name: Satisfaction_Satisfied, Length: 38964, dtype: uint8 <class 'pandas.core.series.Series'> (38964,) 38964

In [46]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#airline_data as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([airline_data_encoded.isnull().sum(), 100 * airline_data_encoded.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending = False)
airline_data_encoded['Arrival Delay'].fillna(0, inplace = True)
print(airline_data_encoded['Arrival Delay'].isnull().sum())

0

In [48]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#airline_data as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([airline_data_encoded.isnull().sum(), 100 * airline_data_encoded.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending = False)

                                        count    %
Unnamed: 0                                  0  0.0
In-flight Service                           0  0.0
Satisfaction_Neutral or Dissatisfied        0  0.0
Class_Economy Plus                          0  0.0
Class_Economy                               0  0.0
Class_Business                              0  0.0
Type of Travel_Personal                     0  0.0
Type of Travel_Business                     0  0.0
Customer Type_Returning                     0  0.0
Customer Type_First-time                    0  0.0
Gender_Male                                 0  0.0
Gender_Female                               0  0.0
Baggage Handling                            0  0.0
In-flight Entertainment                     0  0.0
In-flight Wifi Service                      0  0.0
Food and Drink                              0  0.0
ID                                          0  0.0
Cleanliness                                 0  0.0
Leg Room Service                            0  0.0
Seat Comfort                                0  0.0
On-board Service                            0  0.0
Gate Location                               0  0.0
Online Boarding                             0  0.0
Check-in Service                            0  0.0
Ease of Online Booking                      0  0.0
Departure and Arrival Time Convenience      0  0.0
Arrival Delay                               0  0.0
Departure Delay                             0  0.0
Flight Distance                             0  0.0
Age                                         0  0.0
Satisfaction_Satisfied                      0  0.0

In [47]:
# Construct the LogisticRegression model
clf = LogisticRegression()

# Fit the model on the training data.
clf.fit(X_train, y_train) 

# Print the accuracy from the testing data.
# Introduce variable to be reused later
y_predict_test = clf.predict(X_test)
print("\n")
print("[Test] Accuracy score (y_predict_test, y_test):",accuracy_score(y_predict_test, y_test))

# Note the order in which the parameters must be passed
# according to the documentation ... although there should be
# no difference since it is a one-to-one comparison ...
# ref: http://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html#sklearn.metrics.accuracy_score
print("\n")
print("[Test] Accuracy score: (y_test, y_predict_test)",accuracy_score(y_test, y_predict_test))

y_predict_training = clf.predict(X_train)
print("\n")
print("[Training] Accuracy score: (y_train, y_predict_training)",accuracy_score(y_train, y_predict_training))

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').